{% extends "layout.html" %}
{% block style %}
        {{ super() }}
         <link rel='stylesheet' type='text/css' href="{{ url_for('static', filename='hub-tile_settings.css') }}">
{% endblock %}
{% block title %}Services{% endblock %}
{% block body %}
        <nav class='tile-wrapper'>
			<nav class='tile-container'>
				<a href='./'>
					<figure class='personal'>
						<figcaption>personal</figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure class='statistics'>
						<figcaption>statistics</figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure class='printer'>
						<figcaption>printer</figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
				<a href='./'>
					<figure>
						<figcaption></figcaption>
					</figure>
				</a>
			</div>
		</nav>
{% endblock %}
